# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
dist/

# Tooling
.pytest_cache
.mypy_cache
.coverage
.coverage.*
htmlcov

# Own
tutorials/outputs
tutorials/mlruns
mlruns